{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }], //что бы ошибки с "_id" не подсвечивал
    "import/extensions": [
      "off",
      {
        ".js": "never"
      }
    ], //что бы ошибки с импортом ".js" не подсвечивал(у меня без добавления формата ломается всё)
    "linebreak-style": ["off", "windows"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  }
}
